footer{
    background-color: #f5f5f5;
    height: 305px;
    border-top: 1px solid #dddddd;
}
footer .footer-content{
    padding: 10px 0px;
}
footer .footer-content .footer-text{
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.footer{
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
.footer .footer-left{
    width: 580px;
    text-align: start;
}
.footer .footer-left dl dt{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px;
}
.footer .footer-left dl dd{
    height: 40px;
    line-height: 40px;
}
.footer .footer-left dl dd a{
}
.footer .footer-left dl dd a span{
    display: inline-block;
    width: 18px;
    height: 18px;
    /* 背景图片与文字居中对齐 */
    vertical-align: sub;
}
.footer .footer-left .follow-me .xinlang{
    background: url(../images/footer-icon.png) no-repeat 0px 0px;
}
.footer .footer-left .follow-me .qq-room{
    background: url(../images/footer-icon.png) no-repeat -28px 0px;
}
.footer .footer-left .follow-me .weibo{
    background: url(../images/footer-icon.png) no-repeat -56px 0px;
}
.footer .footer-right{
    width: 330px;
    text-align: center;
    margin-right: 75px;
}
.footer .footer-right h2{
    font-size: 16px;
    margin-bottom: 20px;
}